@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  letter-spacing: -0.02em;
}

body {
  height: 100vh;
  font-family: "Inter", "Segoe UI";
  background-color: #f8f8f8;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 0.5s ease forwards;
}

.fade-out {
  animation: fade-out 0.5s ease forwards;
}
